.account {
    width: 50%;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    font-size: 13px;
    font-weight: 600;
}


.account span {
    display: flex;
    justify-content: space-between;
    cursor: pointer; 
    margin-left: 10px;
}

.account span:hover {
    background: rgb(240, 240, 240);
}
/* .account > span:last-child {
    cursor: pointer;
} */