.wrapper {
  display: flex;
  flex-direction: row;

}

.btnWrapper {
  /* justify-content: space-around; */
  padding: 20px;
  padding-left: 0;
}

.btnWrapper Button {
    color: #fff;
    background-color: var(--fontPrimary);
}

.btnWrapper Button:hover {
    background-color: var(--hover);
}

.clsWrapper {
  display: flex;
  flex-direction: column;
}