.emptyClass {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 11px;
}
.emptyClass img {
    width: 200px;
    height: 200px;
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.btnWrapper Button {
    color: #fff;
    background-color: var(--fontPrimary);
}

.btnWrapper Button:hover {
    background-color: var(--hover);
}